<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>PageServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.loginsystem.servlet.PageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.loginsystem.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginSuccessfulServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.loginsystem.servlet.LoginSuccessfulServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MainFunctionServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.loginsystem.servlet.MainFunctionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginoutServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.loginsystem.servlet.LoginoutServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/servlet/PageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginSuccessfulServlet</servlet-name>
    <url-pattern>/servlet/LoginSuccessfulServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainFunctionServlet</servlet-name>
    <url-pattern>/servlet/MainFunctionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginoutServlet</servlet-name>
    <url-pattern>/servlet/LoginoutServlet</url-pattern>
  </servlet-mapping>

</web-app>